# ======================
# Java compiled output
# ======================
*.class
bin/
out/
target/

# ======================
# IDE files
# ======================
# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# VS Code
.vscode/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs / temp files
# ======================
*.log
